// Color
$silder-bg-color: #ffe2e0;
$bg-color: #007878;
$text-red: #df4244;
$new: #43d167;
$text-gray: rgba(54, 54, 54, 0.75);
// Font Style
$Palanquin: "Palanquin", sans-serif;
$Poppins: "Poppins", sans-serif;
$Rubik: "Rubik", sans-serif;
