html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  padding: 0 10%;
  margin: 0 auto;
}

#tittle-search {
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(39, 49, 66, 0.15);
}
#tittle-search .container .tittle-search {
  padding: 39px 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tittle-search .container .tittle-search p {
  font-weight: bolder;
  font-size: 40px;
  line-height: 100%;
  font-family: "Palanquin", sans-serif;
}
#tittle-search .container .tittle-search .search-box {
  background-color: white;
  border: 1px solid rgba(158, 158, 158, 0.35);
  border-radius: 8px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 14px 16px;
}
#tittle-search .container .tittle-search .search-box h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #aaaaaa;
}
#tittle-search .container .tittle-search .search-box i {
  padding: 0px 12px 0px 0px;
  color: rgba(39, 49, 66, 0.75);
}
@media only screen and (max-width: 992px) {
  #tittle-search .container .tittle-search {
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
  }
}

#footer {
  background-color: #f7f7f9;
}
#footer .container .footer {
  padding: 56px 0 80px;
  display: flex;
  justify-content: space-between;
}
#footer .container .footer .footer-left {
  width: 24%;
  color: rgba(33, 33, 33, 0.75);
}
#footer .container .footer .footer-left p {
  color: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(33, 33, 33, 0.75);
  padding-bottom: 40px;
}
#footer .container .footer .footer-left .mail {
  padding-bottom: 24px;
}
#footer .container .footer .footer-left .mail img {
  color: #1d1d1b;
}
#footer .container .footer .footer-left .mail span {
  font-weight: 900;
  font-size: 16px;
  line-height: 170%;
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
}
#footer .container .footer .footer-left .telephone {
  padding-bottom: 48px;
}
#footer .container .footer .footer-left .telephone img {
  padding-right: 11px;
}
#footer .container .footer .footer-left .telephone span {
  font-family: "Rubik", sans-serif;
}
#footer .container .footer .footer-left .send-message-button {
  width: max-content;
  opacity: 0.8;
  border: 1px solid #171717;
  border-radius: 8px;
  display: flex;
}
#footer .container .footer .footer-left .send-message-button img {
  color: #212121;
  padding-left: 16px;
}
#footer .container .footer .footer-left .send-message-button span {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: rgba(33, 33, 33, 0.9);
  padding: 10px 16px 11px 8px;
}
#footer .container .footer .footer-right {
  display: flex;
  column-gap: 130px;
}
#footer .container .footer .footer-right .shop {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#footer .container .footer .footer-right .shop p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 120%;
  color: rgba(33, 33, 33, 0.75);
}
#footer .container .footer .footer-right .shop .title {
  font-weight: 900;
  font-size: 18px;
  line-height: 170%;
  color: #212121;
  font-family: "Rubik", sans-serif;
}
#footer .container .footer .footer-right .company {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#footer .container .footer .footer-right .company p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 120%;
  color: rgba(33, 33, 33, 0.75);
}
#footer .container .footer .footer-right .company .tittle {
  font-weight: 900;
  font-size: 18px;
  line-height: 170%;
  color: #212121;
  font-family: "Rubik", sans-serif;
}
#footer .container .footer .footer-right .help {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#footer .container .footer .footer-right .help p {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 120%;
  color: rgba(33, 33, 33, 0.75);
}
#footer .container .footer .footer-right .help .tittle {
  font-weight: 900;
  font-size: 18px;
  line-height: 170%;
  color: #212121;
  font-family: "Rubik", sans-serif;
}

@media only screen and (max-width: 992px) {
  #footer .container .footer {
    flex-direction: column;
    text-align: center;
  }
  #footer .container .footer .footer-left {
    width: 100%;
    padding-bottom: 40px;
  }
  #footer .container .footer .footer-left .send-message-button {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #footer .container .footer .footer-right {
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 30px;
  }
}
#end .container .end {
  padding: 22px 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#end .container .end p {
  font-weight: 900;
  font-size: 16px;
  line-height: 170%;
  color: rgba(33, 33, 33, 0.75);
  font-family: "Poppins", sans-serif;
}
#end .container .end .social-media-icon {
  display: flex;
  column-gap: 36.33px;
}
#end .container .end .social-media-icon img {
  color: #212121;
}

@media only screen and (max-width: 922px) {
  #end .container .end {
    flex-direction: column;
    row-gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */