html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  padding: 0 10%;
  margin: 0 auto;
}

#header .container {
  width: 100%;
}
#header .container .telephone {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #007878;
}
#header .container .telephone .icon .fa-solid {
  color: white;
  padding-right: 8px;
}
#header .container .telephone .icon span {
  color: white;
}
#header .container .telephone nav ul {
  display: flex;
  column-gap: 20px;
}
#header .container .telephone nav ul li {
  list-style: none;
  color: white;
}
#header .container .telephone nav ul span {
  border-right: 1px solid white;
}
@media (max-width: 992px) {
  #header .container .telephone {
    flex-direction: column;
    row-gap: 20px;
  }
}
#header .container .snobella {
  padding: 10px;
}
#header .container .snobella .snobella1 {
  padding: 15px 0 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .container .snobella .snobella1 h1 {
  font-weight: bold;
  font-size: 30px;
}
#header .container .snobella .snobella1 input {
  width: 340px;
  height: 30px;
  position: relative;
  background-color: #f9f7fc;
  border: 0;
  position: absolute;
}
#header .container .snobella .snobella1 .fa-magnifying-glass {
  position: relative;
  padding-left: 320px;
  padding-top: 7px;
}
#header .container .snobella .snobella1 .user {
  display: flex;
  column-gap: 40px;
}
#header .container .snobella .snobella1 .user .signup a {
  text-decoration: none;
  color: black;
}
@media (max-width: 992px) {
  #header .container .snobella .snobella1 {
    flex-direction: column;
    row-gap: 20px;
  }
}
#header .container .snobella .snobella2 {
  padding: 10px;
}
#header .container .snobella .snobella2 nav {
  padding-left: 85px;
}
#header .container .snobella .snobella2 nav ul {
  display: flex;
  column-gap: 40px;
}
#header .container .snobella .snobella2 nav ul il a {
  text-decoration: none;
  color: black;
}
@media (max-width: 992px) {
  #header .container .snobella .snobella2 nav {
    flex-direction: column;
    padding-top: 20px;
  }
}
#header .container .bag {
  background-color: #ffe2e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header .container .bag .shopnow h4 {
  color: #df4244;
  padding-bottom: 15px;
}
#header .container .bag .shopnow h1 {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
}
#header .container .bag .shopnow pre {
  padding-bottom: 25px;
}
#header .container .bag .shopnow button {
  background-color: #43d167;
  border: 0;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
#header .container .bag .bagimg img {
  width: 642px;
  height: 535px;
}
@media (max-width: 992px) {
  #header .container .bag {
    flex-direction: column;
    padding-top: 40px;
  }
}
#header .container .payment {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 992px) {
  #header .container .payment {
    flex-direction: column;
    row-gap: 20px;
  }
}/*# sourceMappingURL=main.css.map */